{% extends "base.html" %}
{% block title %}Booking Details{% endblock %}
{% block main %}

<div class="container">
    <div class="sub-title">
        <div class="row">
            <h3>Booking Details</h3>
        </div>
    </div>

    <hr>

    <div class="class" style="font-size: larger;">
        <form action="/confirm-booking" method="post">
            <ul>
                <li>Username : {{username}}</li>
                <li>Movie : {{screening_obj.movie_title}}</li>
                <li>Hall : Hall {{screening_obj.hall_id}}</li>
                <li>Date : {{screening_obj.screening_date}}</li>
                <li>Time : {{screening_obj.start_time}} - {{screening_obj.end_time}}</li>
                <li>~~~~~~~~</li>
                <li>Booking Datetime : {{booking_datetime}}</li>
                <li>VIP tickets : {{vip}}</li>
                <li>Regular tickets : {{regular}}</li>
                <li>Accessible tickets : {{accessible}}</li>
                <li>Total Number of Seats : {{num_seats}}</li>
                <li>Total Amount : ${{total_amount}}</li>
            </ul>
            <input type="hidden" name="booking_datetime" value="{{ booking_datetime }}">
            <input type="hidden" name="hall_id" value="{{screening_obj.hall_id}}">
            <input type="hidden" name="vip" value="{{ vip }}">
            <input type="hidden" name="regular" value="{{ regular }}">
            <input type="hidden" name="accessible" value="{{ accessible }}">
            <input type="hidden" name="num_seats" value="{{ num_seats }}">
            <input type="hidden" name="total_amount" value="{{ total_amount }}">
            <input type="hidden" name="user_id" value="{{user_id}}">
            <input type="hidden" name="screening_id" value="{{screening_id}}">
            <input type="hidden" name="booking_datetime" value="{{booking_datetime}}">

            <button type="submit">Confirm Booking</button>
        </form>
    </div>
</div>

{%endblock%}