{% extends "base.html" %}
{% block title %}Cancel Booking{% endblock %}
{% block main %}

<div class="container">
    <div class="sub-title">
        <div class="row">
            <h3>My Bookings</h3>
        </div>
    </div>

    <div class="row">
        <a href="/customer-dashboard">Back to Dashboard</a>
    </div>

    <hr>

    <div class="notification">
        <h5>Notification</h5>
        <ol>
            <li>send_datetime: {{note.send_datetime}}</li>
            <li>content: {{note.content}}</li>
            <li>payment id: {{note.payment_id}}</li>
        </ol>
    </div>

    <div class="payment-info">
        <h5>Payment</h5>
        <ol>
            <li>payment amount: ${{payment.amount}}</li>
            <li>payment datetime: {{payment.payment_datetime}}</li>
            <li>booking id: {{payment.booking_id}}</li>
        </ol>
    </div>

    <div class="booking-info">
        <h5>Booking</h5>
        <ul>
            <li>
                Booking ID: {{ booking.booking_id }} - 
                Number of Seats: {{ booking.num_seats }} - 
                Booking Date Time: {{ booking.booking_datetime }}
                {% if booking.booked_seats %}
                    <ol>
                        {% for booked_seat in booking.booked_seats %}
                            <li>{{ booked_seat }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    No booked seats.
                {% endif %}
                <a href="/cancel-booking/{{ booking.booking_id }}">Cancel Booking</a>
            </li>
            
        </ul>
    </div>

</div>
{%endblock%}