{% extends "base.html" %}
{% block title %}Cinema Home{% endblock %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="search-form">
                <form action="/search-movie" method="post">

                    <label for="title">Title:</label>
                    <input type="text" name="title">
                    <br>
                    <label for="language">Language:</label>
                    <select name="language">
                        <option value="none" selected disabled>Select a language</option>
                        {%for language in language_list%}
                        <option value="{{language}}">{{language}}</option>
                        {%endfor%}
                    </select>
                    <br>
                    <label for="genre">Genre:</label>
                    <select name="genre">
                        <option value="none" selected disabled>Select a genre</option>
                        {%for genre in genre_list%}
                        <option value="{{genre}}">{{genre}}</option>
                        {%endfor%}
                    </select>
                    <br>
                    <label for="release_date">Release Date:</label>
                    <select name="release_date">
                        <option value="none" selected disabled>Select a date</option>
                        {% for date in date_list %}
                        <option value="{{ date }}">{{ date }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit">Search</button>

                </form>
            </div>
        </div>

        <div class="col-4">
            <div class="login-form">
                <form action="login" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                    </div>

                    <div class="form-group">
                        <button type="submit">Login</button>
                    </div>

                    <p class="registration-link">Not registered? <a href="/register">Create a new account</a></p>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <div class="movie-list-table">
        <table>
            <thead>
                <tr>
                    <th>Movie</th>
                    <th style="width: 250px;">Description</th>
                    <th>Language</th>
                    <th>Genre</th>
                    <th>Release Date</th>
                    <th>Country</th>
                    <th>Duration</th>
                    <th>Screenings</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movie_list%}
                <tr>
                    <td style="justify-content: center;">
                        <img src="../static/images/{{movie.title}}.jpg" alt="{{movie.title}} img"
                            style="max-width: 100px;">
                    </td>
                    <td style="text-align: left;">
                        <strong>{{movie.title}}</strong>
                        <br>
                        {{movie.description}}
                    </td>
                    <td>{{movie.language}}</td>
                    <td>{{movie.genre}}</td>
                    <td>{{movie.release_date}}</td>
                    <td>{{movie.country}}</td>
                    <td>{{movie.duration_mins}} Mins</td>
                    <td>
                        {%for screening in movie.screenings %}
                        <div class="row">
                            <p style="font-size:medium;">
                                Hall {{screening.hall_id}} -
                                {{screening.screening_date}} -
                                {{screening.start_time}} - {{screening.end_time}}
                                <a href="/booking"> Book Now</a>
                            </p>
                        </div>
                        {%endfor%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <hr>
</div>

{% endblock %}