{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block main %}

<div class="sub-title">
    <div class="row">
        <h3>Register</h3>
    </div>
</div>

<hr>

<div class="register-form" style="margin-left: 300px;">
    <form action="/register" method="post">
        <label for="fname"> First Name</label>
        <input type="text" name="fname" required>

        <label for="lname"> Last Name</label>
        <input type="text" name="lname" required>

        <label for="username"> Username</label>
        <input type="text" name="username" required>

        <label for="password"> Password</label>
        <input type="password" name="password" required>

        <button type="submit">Submit</button>
    </form>
</div>
{%endblock%}