body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.home-container {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    width:auto;
    height: 80%;
}

.top-session {
    width: 80%;
    margin: auto;
}

.movie-list-table {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.search-form {
    text-align:left;
    padding: 20px;
}

.login-form{
    text-align: right;
    padding: 20px;
}

.log-out{
    text-align: right;
    padding: 20px;
}

.sub-title {
    text-align: center;
}

.head-title {
    text-align: center;
}